<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div>
                <span class="login100-form-avatar">
					<img src="images/wazn.jpg" alt="AVATAR">
				</span>
            </div>

            <div class="wrap-input100 validate-input m-t-5 m-b-100">
                <h3 align="center">The Meeting Ended!</h3>
                <h3 align="center">Thank You</h3>
            </div>
        </div>
    </div>

</div>

<script src="js/script.js">

</script>
</body>
</html>